:root {
	--white-color: #ffffff;
	--yellow-color: #FFBC6B;
	--black-color: #000000;
	--purple-color: #2A263D;
	--dark-purple-color: #201C2F;
	--default-font-size: 24px;
  }
  
  body,
  html {
	font-family: 'Playfair Display', serif !important;
	font-size: var(--default-font-size) !important;
	color: var(--black-color, #000000) !important;
	width: 100vw;
	height: 100%;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Playfair Display', serif !important;
	color: var(--black-color, #000000) !important;
  }
  
  a {
	font-size: 0.90rem;
  }