:root {
	--white-color: #ffffff;
	--yellow-color: #FFBC6B;
	--black-color: #000000;
	--purple-color: #2A263D;
	--dark-purple-color: #201C2F;
	--default-font-size: 24px;
}

#main-navbar {
	background:transparent;
}

#main-navbar a {
	color: var(--white-color, #ffffff);
}

#main-navbar .active > .nav-link {
	color: var(--yellow-color, #FFBC6B);
}