<footer class="container-fluid" id="footer-bottom">
		<div class="row text-center text-md-left d-md-flex py-4">
		  <div class="container col-md-4">
				<div class="d-md-flex justify-md-content-end">	
						<ul class="list-footer">
							<li class="list-footer-title">La Dirección:</li>
								<li>
									<a target="_blank" href="https://www.google.com/maps/dir//1938+Daly+Ave,+The+Bronx,+NY+10460/@40.841852,-73.9163288,13.25z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c2f48b6f42e6d1:0xfb54855297c00d05!2m2!1d-73.8839184!2d40.8412791">
										1938 Daly Avenue, Bronx, NY 10460
									</a>
							</li>
						</ul>
				</div>
		  </div>
		  <div class="container col-md-4">
				<div class="d-md-flex justify-md-content-center">
						<ul class="list-footer">
							<li class="list-footer-title">
								Sanando Los Heridos
							</li>
							<li><a href="/quienes-somos">¿Quiénes Somos?</a></li>
							<li><a href="/nuestro-credo">Nuestro Credo</a></li>
							<li><a href="/servicios">Servicios</a></li>
							<li><a href="/visitanos">Visitanos</a></li>
							<li><a href="/peticion-de-oracion">Petición de Oración</a></li>
							<li><a href="/eventos">Eventos</a></li>
						</ul>
				</div>
		  </div>
		  <div class="container col-md-4">
				<div class="d-md-flex justify-md-content-start">
						<ul class="list-footer">
							<li class="list-footer-title">Visita:</li>
							<li><a href="#"><em class="services-styles">Escuela Biblica:</em></span> Domingos a las 4pm</a></li>
							<li><a href="#"><em class="services-styles">Servicio Evangelistico:</em> Domingos a las 5pm</a></li>
							<li><a href="#"><em class="services-styles">Cultos:</em> Martes y Jueves a las 7:30pm</a></li>
						</ul>
				</div>
		  </div>
		</div>
		</footer>
		
	  <div id="footer-bottom-container" class="text-center">
		<img src="/images/church_logo_cropped.gif" class="img-fluid py-3" id="footer-logo">
	  </div>
  
	  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	