<footer class="container-fluid" id="footer-bottom">
		<div class="row d-flex py-4">
		  <div class="container col-4">
			<div class="d-flex justify-content-end">
			  <ul class="list-footer">
				<li class="list-footer-title">products</li>
				<li><a href="#">iOS</a></li>
				<li><a href="#">Android</a></li>
				<li><a href="#">Web Apps</a></li>
				<li><a href="#">Hardware</a></li>
				<li><a href="#">The Cloud</a></li>
			  </ul>
  
			</div>
		  </div>
		  <div class="container col-4">
			<div class="d-flex justify-content-center">
			  <ul class="list-footer">
				<li class="list-footer-title">products</li>
				<li><a href="#">iOS</a></li>
				<li><a href="#">Android</a></li>
				<li><a href="#">Web Apps</a></li>
				<li><a href="#">Hardware</a></li>
				<li><a href="#">The Cloud</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="container col-4">
			<div class="d-flex justify-content-start">
			  <ul class="list-footer">
				<li class="list-footer-title">products</li>
				<li><a href="#">iOS</a></li>
				<li><a href="#">Android</a></li>
				<li><a href="#">Web Apps</a></li>
				<li><a href="#">Hardware</a></li>
				<li><a href="#">The Cloud</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </footer>
  
	  <div id="footer-bottom-container" class="text-center">
		<img src="images/church_logo_cropped.gif" class="img-fluid py-3" id="footer-logo">
	  </div>
  
	  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	