<script>
		function initMap() {
		  const churchLocation = {
			lat: 40.841250,
			lng: -73.883830
		  }
		  // Map Options
		  const options = {
			zoom: 15,
			center: churchLocation
		  }
		  // New Map
		  const map = new google.maps.Map(document.getElementById("map"), options);
		  // Add Marker
		  const marker = new google.maps.Marker({
			position: churchLocation,
			map: map
		  });
		  const content = "<p class='lead infoWindow-style'><strong>Address:</strong> <br>1938 Daly Avenue<br>Bronx, NY 10460</p>" +
			"<p class='lead text-left infoWindow-style'><strong>Cuando:</strong><br>Domingo: 4:00pm<br>Martes: 7:30pm<br>Jueves: 7:30pm</p>"
		  // Info Window when clicked on marker
		  const infoWindow = new google.maps.InfoWindow({
			content: content
		  });
		  marker.addListener("click", function () {
			infoWindow.open(map, marker);
		  })
		}
	  </script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0THcs_k7D2JJBYvYYhCzm--hM1N9FoBc&callback=initMap" async defer></script>
