/*
Possible color schemes:
#EEB567
#F5A033
#F89321
#633929
#D76B21

Or:
#F86E00
#F83F00
#F89000
#FFFFFF
#000000
 */
body, html {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 21px !important;
	line-height: 2 !important;
	font-weight: 300 !important;
	color: #000000 !important;
	width: 100vw;
}

h1 {
	font-family: 'Old Standard TT', serif !important;
	color: #ffffff !important;
	font-style: italic !important;
	font-weight: 700 !important;
}

h2, h3, h4, h5, h6 {
	font-family: 'Old Standard TT', serif !important;
	font-weight: 700 !important;
	font-style: italic !important;
	color: #000000 !important;
}

blockquote .blockquote,.lead {
	color: #ffffff !important;
}
blockquote .blockquote-footer {
	color: #ffffff !important;
}

/* h2, h3, h4, h5, h6 { */
	/* font-family: 'Old Standard TT', serif !important; */
	/* /* font-weight: 700 !important; */
	/* font-size: 1.75em !important;  */
/* } */

a {
	font-size: 0.90rem;
}

.jumbotron {
	background: url("images/main-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100vmin;
  }

#jumbotron-logo {
	height: 10rem;
}

.navbar-brand img {
	height: 90px; width: 90px;
}

.col-12 {
	/* background-color: blue; */
	/* height: 250px; */
	/* border: 3px solid green; */
}


  
 