:root {
	--main-font-color: #ffffff;
	--secondary-font-color: #FFBC6B;
}
body, html {
	font-family: 'Playfair Display', serif !important;
	font-size: 24px !important;
	/* line-height: 2 !important; */
	color: #000000 !important;
	width: 100vw;
	height: 100%;

}

#main-navbar {
	background:transparent;
}

#main-navbar a {
	color: var(--main-font-color, #ffffff);
}

#main-navbar .active > .nav-link {
	color: var(--secondary-font-color, #FFBC6B);
}



.main-header {
	font-family: 'Playfair Display', serif;
	color: var(--main-font-color, #ffffff);
	/* font-style: italic !important; */
	font-size: 83px !important;
	/* font-weight: 100; */
}



.main-header span {
	color: var(--secondary-font-color, #FFBC6B);

}





h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif !important;
	/* font-style: italic !important; */
	color: var(--main-font-color, #ffffff) !important;
}

blockquote .corinthians-quote {
	color: var(--main-font-color, #ffffff);
	font-size: 18px;

}
blockquote .blockquote-footer {
	color: var(--main-font-color, #ffffff);

}

blockquote span {
	font-size: 18px;
}

blockquote .saludo-quotes {
	color: #000000 !important;
}

/* h2, h3, h4, h5, h6 { */
	/* font-family: 'Old Standard TT', serif !important; */
	/* /* font-weight: 700 !important; */
	/* font-size: 1.75em !important;  */
/* } */

a {
	font-size: 0.90rem;
}

/* Working method */
.tinted-image {
	background: 
	  /* top, transparent red, faked with gradient */ 
	  linear-gradient(
		rgba(42, 38, 61, 0.70), 
		rgba(42, 38, 61, 0.70)
	  ),
	  /* bottom, image */
	  url("images/clouds-cloudy-conifers-247478.jpg");
	  -webkit-background-size: cover;	
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: top;
	min-height: 100vmin;

  }

#about-btn {
	font-size: 14px;
	color: var(--main-font-color, #ffffff);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid var(--main-font-color, #ffffff);
	border-radius: 40px;
	background: transparent;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

#visit-btn {
	font-size: 14px;
	color: var(--main-font-color, #ffffff);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid var(--secondary-font-color, #FFBC6B);
	border-radius: 40px;
	background: var(--secondary-font-color, #FFBC6B);;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

p {
	color: var(--main-font-color, #ffffff);
}
 main {
	/* background: rgb(248, 249, 250); */
 }

 .square-welcome {
	display: inline-block;
	height: 80px;
	position: absolute;
	width: 80px;
	bottom: -190px;	
	background-color: transparent;
	border: 3px solid var(--secondary-font-color, #FFBC6B);
  }

 .square-explore {
	display: inline-block;
	height: 80px;
	position: absolute;
	width: 80px;
	bottom: -1360px;	
	background-color: transparent;
	border: 3px solid var(--secondary-font-color, #FFBC6B);
  }

#welcome-container {
	background: #2A263D;
	padding-top: 5rem;
	padding-bottom: 7rem;
}

#explore-container {
	padding-top: 4rem;
	padding-bottom: 3rem;
}

#explore-container h3,#explore-container p {
	color: #000000 !important;
}



#church-services-container {
	
}

#visit-container {
	/* background: #99CCCC; */
}

#services-and-visit-container {
	
}


 #main-and-footer-container {
	 
 }

#events-and-testimonials-container {
	/* background: rgb(250, 239, 210); */
}

.card {
	/* height: 400px;
	width: 300px; */

}

.event-container img {
	width: 400px;
	height: 100%;
}
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
	flex: 1 1 auto;
}


.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev,
.carousel-inner>.carousel-item-left,
.carousel-inner>.carousel-item-right {
	display: flex;
	justify-content: center;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right,
.carousel-inner>.carousel-item-left,
.carousel-inner>.carousel-item-right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.navbar-brand img {
	height: 80px; 
	width: 80px;
}
  
#map {
	height: 400px;
	width: 100%;
}
  
.infoWindow-heading-font {
	font-size: 1.4rem;
	font-style: normal !important;
}

.explore-cards img {
	height: 250px;
	width: 100%;
}

#explore-container .row > div.col-sm-6 {
	padding-left: 0 !important;
	padding-right: 0;
}

#footer-bottom {
	background:#f9d0b2;
} 