<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/page-header-css/main.css">
	<link rel="stylesheet" href="css/about.css">
	<link rel="stylesheet" href="css/footer.css">
</head>

<!-- This article container is the header for each file -->
<article class="jumbotron d-flex flex-wrap justify-content-center tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<h1 class="text-center main-header">¿Quiénes <span>Somos?</span></h1>
	</div>
	<div class="d-flex justify-content-center align-items-end pb-2 w-100">
		<i class="far fa-arrow-alt-circle-down" style="font-size: 3rem; color: #fff;"></i>
	</div>
</article>

<h2 class="text-center pt-5 pb-4">Una familia unido en Cristo</h2>
<strong><p class="text-center">Somos hermanos que buscamos estar llenos del Espíritu santo porque el señor Jesús pronto por su iglesia. </p></strong>
<article class="container">
<div class="row py-5">
	<div class="col-3 d-inline">
		<img src="images/beach-blue-boardwalk-947448.jpg" alt="nuestro credo image" class="img-thumbnail img-fluid">
	</div>
	<div class="col-9 d-inline">
		<p class="text-center">NUESTRO CREDO</p>
		<p>Nuestro lazo de comunión, consiste en la fe que tenemos en 
			Cristo Jesús, como nuestro Salvador y Señor sobre la cual 
			se fundan nuestras Iglesias. Oprima este botón para leer 
			nuestro Credo completo: 	
		</p>
		<div class="text-center">
			<a href="/nuestro-credo">
				<button class="btn btn-light btn-lg mx-1 yellow-btn">Nuestro Credo</button>
			</a>
		</div>
	</div>
</div>

<div class="row py-5">
	<div class="col-3 d-inline">
		<img src="images/beach-cave-coast-163872.jpg" alt="que estamos haciendo para el señor image" class="img-thumbnail img-fluid">
	</div>
	<div class="col-9 d-inline">
		<p class="text-center">QUE ESTAMOS HACIENDO PARA EL SEÑOR</p>
		<p>Queremos seguir anunciando las buenas nuevas de salvación. Oramos en 
			los Nursing Homes, en los hogares, en las calles. Si usted necesita 
			oración, un culto en el hogar, que lo visitemos en el hospital o un 
			nursing home comuníquese con nosotros. Queremos orar para usted. 
			Cristo vive, Cristo cambia, Cristo te ama y Cristo viene pronto.	
		</p>
	</div>
</div>

<div class="row py-5">
		<div class="col-3 d-inline">
			<img src="images/beautiful-blue-sky-body-of-water-1170572.jpg" alt="que estamos haciendo para el señor image" class="img-thumbnail img-fluid">
		</div>
		<div class="col-9 d-inline">
			<p class="text-center">LO QUE ESTO SIGNIFICA PARA USTED</p>
			<p>Si usted está leyendo esto queremos anunciarle que Jesús murió en la 
				cruz por usted, por mi y por la humanidad. Queremos decirle que Dios 
				le ama y para el Señor no hay imposible solamente que usted le dé 
				el permiso para que entre a su vida. Si usted necesita oración visitanos 
				o haz click en este página y queremos orar por usted.	
			</p>
		</div>
	</div>
</article>

<% include partials/footer.ejs %>



	