<% include partials/header.ejs %>

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/page-header-css/main.css">
	<link rel="stylesheet" href="/css/prayer-request.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<!-- This article container is the header for each file -->
<article class="jumbotron d-flex flex-wrap tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<h1 class="text-center main-header">Add <span>Event</span></h1>
	</div>
	<div class="d-flex justify-content-center align-items-end pb-2 w-100">
		<i class="far fa-arrow-alt-circle-down" style="font-size: 3rem; color: #fff;"></i>
	</div>
</article>

<div class="d-flex justify-content-center">
	<div class="container pt-4 pb-5" id="form-container">
		<form method="POST" action="/events/create">
			<div class="form-group">
				<label for="exampleInputEmail1">Event Name</label>
				<input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="eventNameHelp" placeholder="Enter event name">
				<small id="nameHelp" class="form-text text-muted">Choose a name that describes the event accurately.</small>
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Event Image</label>
				<input type="text" class="form-control" name="image" id="exampleFormControlTextarea1" placeholder="An image from the event...">
				<small id="imageHelp" class="form-text text-muted">Add a link to an image about the event.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Event Description</label>
				<textarea rows="6" name="description" class="form-control" id="exampleInputEmail2"  placeholder="Enter a decription of the event"></textarea>
				<small id="descriptionHelp" class="form-text text-muted">Write a short blurb describing the event.</small>
			</div>
			<button type="submit" class="btn btn-primary yellow-btn">Add Event</button>
		</form>
	</div>
</div>

<% include partials/footer.ejs %>
