<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/main-jumbotron.css">
	<link rel="stylesheet" href="css/homepage.css">
	<link rel="stylesheet" href="css/map.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<header>
	<article class="jumbotron d-flex flex-wrap justify-content-center tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<div class="d-flex flex-column">

			<h1 class="text-center main-header">Iglesia Hermanos Unidos En Cristo</h1>
			<div class="sanando-los-heridos-sub-header">
				<h1 class="text-center">
						Sanando Los Heridos
				</h1>
			</div>
		</div>
  
			<blockquote class="blockquote lead" style="text-align: center;">
			  <span style="color:#FFFFFF;">
					"<strong><sup>28</sup></strong> Ha escogido lo sin importancia según el mundo, lo despreciable, lo que nada cuenta, para anular a quienes piensan que son algo. <strong><sup>29</sup></strong> De este modo, ningún mortal podrá alardear de algo ante Dios."
			  </span>
			  <footer class="blockquote-footer corinthians-quote text-center"><cite title="https://www.biblegateway.com/passage/?search=1+Corinthians+1%3A28-29&version=BLP">1 Corintios 1:28-29</cite></footer>
			</blockquote>
  
			<div class="d-flex justify-content-center pb-2 align-items-end">
				<a href="/about">
					<button class="btn btn-light btn-lg mx-1" id="about-btn">¿Quiénes Somos?</button>
				</a>
				<a  href="/visit">
					<button class="btn btn-light btn-lg mx-1" id="visit-btn">Visitanos</button>
					</a>
			</div>
		  </div>
	</article>
</header>

<main>
		<div class="container-fluid mb-0" id="welcome-container">
		  <h2 class="text-center pr-4 pb-4">Nuestro Pastor Rev. Juan Vargas le da la Bienvenida</h2>
		  <div class="container">
			<p class="text-center pl-2">Dios los bendigas. Bienvenido a nuestra página. Gracias por visitarnos.
			  Somos la iglesia Hermanos Unidos En Cristo, estamos perseverando por
			  la gracia de Dios. Nos gustaría que nos visitara en este lugar donde
			  buscamos la presencia y poder del Padre, Hijo, y Espíritu Santo. </p>
		  </div>
		  <div class="container embed-responsive embed-responsive-16by9">
			<video class="embed-responsive-item" controls>
			  <source src="videos/Ape Clarification.mp4" type="video/mp4">
			  <source src="movie.ogg" type="video/ogg">
			  Your browser does not support the video tag.
			</video>
		  </div>
		</div>
  
		<div class="container-fluid mb-0 pb-0" id="explore-container">
		  <h3 class="text-center pb-3">Explora nuestra iglesia</h3>
		  <p class="text-center pb-5">Five years is a lifetime for tech products,
			but that’s exactly how long the Bose QuietComfort 15s have been
			in service, in part because Bose was determined not to replace
			the QC15 headphones until they had something that was, in their
			words, "better and different".</p>
	
			<div class="">

				<div class="row">
					<ul class="caption-style-2">
						<a href="/quienes-somos" class="explore-link">
						<li class="col-sm-6 col-lg-3 explore-cards text-center d-flex align-items-center" style="background-color: #e78920;">
								<p>¿Quiénes Somos?</p>
						</li>
						</a>
						<a href="/nuestro-credo" class="explore-link">
						<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color: rgb(125,147,209);">
								<p>Nuestro Credo</p>
						</li>
						</a>
						<a href="/servicios" class="explore-link">
							<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color: rgb(101,178,152);">
									<p>Servicios</p>
							</li>
						</a>
						<a href="/visitanos" class="explore-link">
							<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color: rgb(149,127,194);">
									<p>Visitanos</p>
							</li>
						</a>
						<a href="/peticion-de-oracion" class="explore-link">
							<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color: rgb(95,193,217);">
									<p>Petición de Oración</p>
							</li>
						</a>
						<a href="/eventos" class="explore-link">
							<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color: rgb(211,163,120);">
									<p>Eventos</p>
							</li>
						</a>
						<a href="/pastor-login" class="explore-link">
							<li class="col-sm-6 col-lg-3 explore-cards text-center  d-flex align-items-center" style="background-color:#c8c25e;">
									<p>Pastor Login</p>
							</li>
						</a>
						<a href="#main-navbar" class="explore-link">
						<li class="col-sm-6 col-lg-3 explore-cards text-center d-flex align-items-center" style="background-color: #9829c1;">
								<p class="w-100">Página Principal</p>	
						</li>
						</a>
					</ul>
				</div>
			</div>
  
  
		</div>
		<div class="container-fluid mb-0" id="visit-container">
		  <h3 class="text-center pt-5 pb-4">Visita Nos</h3>
		  <div class="text-center" id="visit-description">
			<p>
				Esperamos que usted puede venir visitarnos prontos y compartir juntos en el amor de Cristo.
				<br>
				Si necesitas transportación comuniquese con el Pastor, 1-845-649-9639 o 1-845-649-2801.
			</p>
		  </div>
		  <div class="text-center" id="address-container">
			<ul>
			  <li>Bronx, NY 10460</li>
			  <li>1938 Daly Avenue,</li>
			  <li>1-845-649-9639 or 1-845-649-2801</li>
			</ul>
		  </div>
		  <div class="text-center pb-4">
			<a href="https://www.google.com/maps/dir//1938+Daly+Ave,+Bronx,+NY+10460/@40.8413878,-73.9539587,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x89c2f48b6f42e6d1:0xfb54855297c00d05!2m2!1d-73.8839184!2d40.8412791!3e0" target="_blank" class="btn btn-light btn-lg mx-1" id="visit-btn">Obtener Dirreciónes</a>
		  </div>
		</div>
		<div id="map"></div>
	  </main>

		<% include partials/gmaps.ejs %>
<% include partials/footer.ejs %>
<script>
  // This can be used after switching to EJS, templating engine
//   console.log(KEYS.GOOGLE_MAP.API_KEY);
</script>


	</body>	  
</html>

