<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/main-jumbotron.css">
	<link rel="stylesheet" href="css/homepage.css">
	<link rel="stylesheet" href="css/map.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<header>
	<article class="jumbotron d-flex flex-wrap tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
			<h1 class="text-center main-header">Iglesia Hermanos Unidos En Cristo <span>Sanando Los Heridos</span></h1>
  
			<blockquote class="blockquote lead">
			  <span style="color:#FFFFFF;">
				"and the base things of the world and the things which are despised God has chosen, and the things which are not, to bring to nothing the things that are..."
			  </span>
			  <footer class="blockquote-footer corinthians-quote text-center"><cite title="https://versebyversecommentary.com/1-corinthians/1-corinthians-128/">1 Corinthians 1:28</cite></footer>
			</blockquote>
  
			<div class="d-flex justify-content-center align-items-end">
			  <button class="btn btn-light btn-lg mx-1" id="about-btn">About</button>
			  <button class="btn btn-light btn-lg mx-1" id="visit-btn">Visit</button>
			</div>
		  </div>
	</article>
</header>

<main>
		<div class="container-fluid mb-0" id="welcome-container">
		  <h2 class="text-center pr-4 pb-4">Nuestro Pastor Rev. Ju<div class="square-welcome"></div>an Vargas le da la Bienvenida</h2>
		  <div class="container">
			<p class="text-center pl-2">Dios los bendigas. Bienvenido a nuestra página. Gracias por visitarnos.
			  Somos la iglesia Hermanos Unidos En Cristo, estamos perseverando por
			  la gracia de Dios. Nos gustaría que nos visitara en este lugar donde
			  buscamos la presencia y poder del Padre, Hijo, y Espíritu Santo. </p>
		  </div>
		  <div class="container embed-responsive embed-responsive-16by9">
			<video class="embed-responsive-item" controls>
			  <source src="videos/Ape Clarification.mp4" type="video/mp4">
			  <source src="movie.ogg" type="video/ogg">
			  Your browser does not support the video tag.
			</video>
		  </div>
		</div>
  
		<div class="container-fluid mb-0 pb-0" id="explore-container">
		  <h3 class="text-center pb-3">Explora nuestra iglesi<div class="square-explore"></div>a</h3>
		  <p class="text-center pb-5">Five years is a lifetime for tech products,
			but that’s exactly how long the Bose QuietComfort 15s have been
			in service, in part because Bose was determined not to replace
			the QC15 headphones until they had something that was, in their
			words, "better and different".</p>
  
		  <div class="row">
			<ul class="caption-style-2">
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/009s.png" class="img-fluid" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/baby-children-cute-264109.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/family-1466261_1920.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/fl-09ef748a-ee78-4ec7-beca-b4f413525ba4_2500x2500_1.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/fl-652154fc-7f7d-4e14-82d8-dad91f76548f_2500x2500_1.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/fl-33016f29-fca2-4187-aa87-58bcffa443d1_2500x2500_1.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/josh-sorenson-637599-unsplash.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			  <a href="#">
				<li class="col-sm-6 col-lg-3 explore-cards text-center">
				  <img src="images/sammie-vasquez-582770-unsplash.jpg" alt="">
				  <div class="caption">
					<div class="blur"></div>
					<div class="caption-text">
					  <h1>Amazing Caption</h1>
					  <p>Whatever It Is - Always Awesome</p>
					</div>
				  </div>
				</li>
			  </a>
			</ul>
		  </div>
  
  
		</div>
		<div class="container-fluid mb-0" id="visit-container">
		  <h3 class="text-center pt-5 pb-4">Visita Nos</h3>
		  <div class="text-center" id="visit-description">
			<p>
			  The QC 25 headphones boast a cleaner design aesthetic than the QC 15, with fewer lines compared to the original, and comes in a choice of black
			</p>
		  </div>
		  <div class="text-center" id="address-container">
			<ul>
			  <li>Bronx, NY 10460</li>
			  <li>1938 Daly Avenue,</li>
			  <li>1-845-649-9639 or 1-845-649-2801</li>
			</ul>
		  </div>
		  <div class="text-center pb-4">
			<a href="https://www.google.com/maps/dir//1938+Daly+Ave,+Bronx,+NY+10460/@40.8413878,-73.9539587,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x89c2f48b6f42e6d1:0xfb54855297c00d05!2m2!1d-73.8839184!2d40.8412791!3e0" target="_blank" class="btn btn-light btn-lg mx-1" id="visit-btn">Get Directions</a>
		  </div>
		</div>
		<div id="map"></div>
	  </main>

		<% include partials/gmaps.ejs %>
<% include partials/footer.ejs %>
<script>
  // This can be used after switching to EJS, templating engine
//   console.log(KEYS.GOOGLE_MAP.API_KEY);
</script>


	</body>	  
</html>

