<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/page-header-css/main.css">
	<link rel="stylesheet" href="css/our-creed.css">
	<link rel="stylesheet" href="css/footer.css">
</head>

<!-- This article container is the header for each file -->
<article class="jumbotron d-flex flex-wrap justify-content-center tinted-image py-0 mb-0 ">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<h1 class="text-center main-header">Nuestro <span>Credo</span></h1>
	</div>
	<div class="d-flex justify-content-center align-items-end pb-2 w-100">
		<i class="far fa-arrow-alt-circle-down" style="font-size: 3rem; color: #fff;"></i>
	</div>
</article>
<div class="d-flex justify-content-center">

	<div class="row py-5 container">
		<div class="col-3 pr-0">
			<img src="images/bible-book-business-272337.jpg" alt="bible with pencils on it" class="img-thumbnail img-fluid">
		</div>
		<div class="col-9 d-flex align-items-center">
				<h2 class="main-header">Creemos <span>Esto</span></h2>
		</div>
	</div>
</div>

<div class="container pb-5">
	<ol>
		<li class="belief li-styles">
			LA BIBLIA
				<ul>
					<li class="belief-description li-styles">
							Aceptamos las Escrituras o sea la Santa Biblia como 
							la fuente que inspira nuestra fe y como el medio 
							cuyas medidas regulan nuestra vida cristiana. Sus 
							enseñanzas, son más que suficientes para conducirnos 
							de pecados a santidad y perdidos a salvos. Humildemente, 
							dependemos como nuestros padres, de la edad apostólica 
							de la guía diaria del Espíritu Santo, para ser guiados 
							a toda Verdad.
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA TRINIDAD DIVINA
				<ul>
					<li class="belief-description li-styles">
							Creemos en la Santa Trinidad; Padre, Hijo y Espíritu 
							Santo que por una voluntad unánime desempeñan cada uno 
							su oficio. El Padre es el Creador y sostenedor de todo 
							lo que existe; El Hijo es el redentor del hombre y el 
							Espíritu Santo es el Inspirador y Consolador; y estas 
							funciones aunque son desempeñadas individualmente, sin 
							que ninguno de ellas deje de obrar dentro de una perfecta 
							unanimidad. El Padre es el Dios que creó todas las cosas 
							inclusive al hombre, su criatura (a imagen y semejanza suya). 
							El Hijo es el mismo Dios hecho carne y nacido de mujer en 
							forma de hombre y venido por voluntad de Dios como Salvador 
							del pecador; y el Espíritu Santo es el presencia de Dios 
							inspirando y consolando a los hombres y llamando por medio 
							del Evangelio al arrepentimiento y fe.
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA REDENCIÓN, JUSTIFICACIÓN, REGENERACIÓN Y SANTIFACIÓN DEL HOMBRE
				<ul>
					<li class="belief-description li-styles">
							El Hombre fue creado perfecto, pero pecó, por eso, fue 
							destituido de la Gloria de Dios. Se única esperanza de 
							salvación y redención, está en Jesucristo, el santo Hijo 
							de Dios. Pues solo por El tenemos redención, justificación, 
							regeneración y santificación, por su sangre que derramó en 
							la cruz del Calvario. (Genesis 1:26-31,3:1-7, Juan 3:16)
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LAS EVIDENCIAS DE LA SALVACIÓN
				<ul>
					<li class="belief-description li-styles">
							La evidencia interna en el creyente de su salvación es el 
							testimonio directo del Espiritu Santo, segun Rom. 8:14. 
							La evidencia externa para todos los hombres es una vida 
							de rectitud y verdadera santidad. La gracia de Dios que 
							trae salvación ha sido manifestada a todos los hombres 
							por la predicación del arrepentimiento hacia Dios y la fe 
							en el Señor Jesucristo. El hombre es salvo por el lavacro 
							de la regeneración y renovación del Espíritu Santo, siendo 
							justificado por gracia mediante la fe, viene a ser heredero 
							de Dios según la esperanza de vida eterna. (Tito 2:11, 
							3:5-7, Romanos 10:13-15, Lucas 24:47)
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA RESTITUCIÓN
				<ul>
					<li class="belief-description li-styles">
						La Biblia nos enseña que tenemos que reparar los 
						agravios que hemos cometido para con nuestro prójimo. 
						Debemos tener una conciencia sin remordimiento para 
						con Dios y para con nuestro prójimo. 
					</li>
					<li class="belief-description li-styles">
						Se ha de hacer restauracion de todo aquello en que hemos 
						defraudado tanto a Dios como al prójimo, hasta donde sea 
						posible (ver el caso de Zaqueo). Es necesario confesar a 
						Dios nuestras ofensas y al prójimo al cual hayamos ofendido,
						y apartarnos de ellas para así alcanzar el perdón Divino. 
						(Exodo 22:3, Levitico 6:4, Prov. 6:31, Ezeq. 33:15, 
						Lucas 19:8,9).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			EL BAUTISMO CON EL ESPÍRITU SANTO
				<ul>
					<li class="belief-description li-styles">
						Es el don del Altísimo sobre la vida limpia y santificada 
						(Lucas 24:29, Mateo 3:11, Juan 7:38, 39, 14:16-17 y Hechos 
						1:5-8). Cuando recibimos el bautismo del Espíritu Santo, 
						este se manifiesta con la señal de hablar en otras lenguas. 
						(Marcos 16:17, 1 Cor. 14:21-22, Hechos 2:4, 10:45 46 y 19:6). 
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LOS DONOS DEL ESPÍRITU SANTO; SEGUN 1 Cor. 12: 1-11
				<ul>
					<li class="belief-description li-styles">
						Palabra de Sabiduría
					</li>
					<li class="belief-description li-styles">
						Palabra de Ciencia
					</li>
					<li class="belief-description li-styles">
						Fe.
					</li>
					<li class="belief-description li-styles">
						Sanidad Divina.
					</li>
					<li class="belief-description li-styles">
						Operación de Milagros.
					</li>
					<li class="belief-description li-styles">
						Profecia.
					</li>
					<li class="belief-description li-styles">
						Discernimiento de espíritus.
					</li>
					<li class="belief-description li-styles">
						Lenguas.
					</li>
					<li class="belief-description li-styles">
						Interpretación de lenguas.
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA SANIDAD DIVINA
				<ul>
					<li class="belief-description li-styles">
						Las Sagradas Escrituras nos presentan la sanidad divina 
						como una provisión de Dios para el hombre. (Isaias 53: 
						4 y 5, Marcos 16: 18, Santiago 5:14-16).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA SEGUNDA VENIDA DE CRISTO
				<ul>
					<li class="belief-description li-styles">
						La Segunda Venida de Cristo es tan literal y visible como 
						su ascensión (Hechos 1:9-11, Juan 14:3, Apocalipsis 1:7). 
						Habrá dos fases; La primera para arrebatar o trasladar a 
						su novia que le está esperando, esto es, la Iglesia. (Mateo 
						24:40-44 y Tesalonicenses 4:15-17). La segunda para 
						establecer su reino milenial. (Apocalipsis 19:1-6, 20:1-6).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA GRAN TRIBULACIÓN
				<ul>
					<li class="belief-description li-styles">
						En el intervalo entre la Venida de Cristo por su novia la 
						Iglesia y su vuelta en el juicio, ocurrirá la Gran Tribulación 
						o el periodo de pesadumbre de Jacob. (Mat. 24:21; 22:29, 
						Apoc. 9 y 16, Isaias 26:20-21, Mar. 13:19, Jer. 30:7, Dan. 
						12:1 y Malaquias 4:1). 
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			EL REINO MILENARIO DE CRISTO
				<ul>
					<li class="belief-description li-styles">
						Son los mil años del reino literal de Jesús en la tierra 
						con sus santos. En ese momento juzgará a las naciones que 
						están sobre la tierra. (Judas versos 14-15, II Tesalonicenses 
						1:7-10). Durante ese tiempo el diablo será atado (Apocalipsis 
						20:2 y 3). Será un reino de paz y bendición. (Isaias 2:2-4, 
						11: 6-9, 65:25, Oseas 2:18, Zacarias 14:9-20).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			EL JUICIO ANTE EL GRAN TRONO BLANCO
				<ul>
					<li class="belief-description li-styles">
						Dios juzgará finalmente a los vivos y a los muertos, 
						según sus obras (Apocalipsis 20:11-14, Daniel 12:2 y 
						Hechos 10:42). 
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LOS CIELOS NUEVOS Y LA TIERRA NUEVA
				<ul>
					<li class="belief-description li-styles">
						La Biblia enseña que esta tierra que está tan corrompida 
						por el pecado, desaparecerá después del juicio ante el 
						Gran trono Blanco y Dios creará nuevos Cielos y una tierra 
						en donde reinará la justicia. (Mateo 24:35, II Pedro 3:12-13, 
						Apocalipsis 21: 1-3, Isaias 65:17; 66-22). 
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			UN CIELO Y UN INFIERNO ETERNOS
				<ul>
					<li class="belief-description li-styles">
						La Biblia enseña que el infierno es tan eterno como el 
						Cielo. (Mateo 24: 42-46). Los inicuos serán echados en 
						el infierno ardiente, o sea, en un lago de fuego ardiendo 
						con azufre por toda la eternidad (Apocalipsis 14:10-11, 
						Lucas 16:24 y Marcos 9:23 y 44).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LA VISIÓN POR LAS ALMAS PERDIDAS
				<ul>
					<li class="belief-description li-styles">
						Siendo este un ministerio del Espíritu Santo, y siendo la 
						voluntad de Dios que siempre mantengamos esa gran visión 
						por las almas perdidas y reconociendo que el Señor Jesucristo 
						después de su resurrección envió los primeros discípulos a 
						predicar el Evangelio por todas partes del mundo, nosotros 
						también tenemos la misma comisión, ya que somos llamados. 
						Los señales que les seguían también nos seguirán, según sus 
						promesas. (Marcos 16:15-20, Efesios 4:11-13).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			LAS ORDENANZAS
				<ul>
					<li class="belief-description li-styles">
						El bautismo en las aguas: Una inmersión (no tres), 
						“En el nombre del Padre, del Hijo y del Espíritu 
						Santo” en la forma que Jesús mandó (Mateo 28:19, 
						Mateo 3:16, Hechos 8:38:-39). Tipos: Romanos 6: 4-5 
						y Colosenses 2:12.
					</li>
					<li class="belief-description li-styles">
						Santa Cena: Jesús instituyó la Cena del Señor para 
						que nosotros recordemos su muerte hasta que el vuelva. 
						(1 Cor. 11:23-26, Lucas 22:17-20 y Mateo 26:26-29).
					</li>
				</ul>
		</li>
		<li class="belief li-styles">
			DIEZMO
				<ul>
					<li class="belief-description li-styles">
						Toda persona que sea aceptado como miembro de la Iglesia 
						quedará comprometida a cumplir con sus deberes financieros. 
						Es deber sagrado aceptar el plan que Dios ha provisto desde 
						el principio para el sostenimiento del Ministerio. (Genesis 
						14:20; 28-29, Levitico 24:30, Malaquias 3:7-10, Mateo 23:23 
						y 1 Corintios 9: 7-14).
					</li>
				</ul>
		</li>
	</ol>
</div>

<% include partials/footer.ejs %>



	