<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/page-header-css/main.css">
	<link rel="stylesheet" href="css/our-services.css">
	<link rel="stylesheet" href="css/footer.css">
</head>

<!-- This article container is the header for each file -->
<article class="jumbotron d-flex flex-wrap justify-content-center tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<h1 class="text-center main-header">Servicios</h1>
	</div>
	<div class="d-flex justify-content-center align-items-end pb-2 w-100">
		<i class="far fa-arrow-alt-circle-down" style="font-size: 3rem; color: #fff;"></i>
	</div>
</article>
<div class="container py-5">
	<h2 class="text-center">SERVICIOS</h2>
	<div class="row">
		<div class="text-center col-md-6 col-lg-4 py-2">
			<img src="images/icons8-students-96.png" class="icon-image img-fluid p-1" alt="pro templo icon">
			<p class="pt-1">ESCUELA BIBLICA</p>
			<p>Domingos a las 4pm</p>
		</div>
		<div class="text-center col-md-6 col-lg-4 py-2">
			<img src="images/icons8-holy-bible-100.png" class="icon-image img-fluid p-1" alt="pro templo icon">
			<p class="pt-1">SERVICIO EVANGELISTICO</p>
			<p>Domingos a las 5pm</p>
		</div>
		<div class="text-center col-md-6 col-lg-4 py-2">
			<img src="images/icons8-pray-96.png" class="icon-image img-fluid p-1" alt="pro templo icon">
			<p class="pt-1">CULTOS</p>
			<p>Martes y Jueves a las 7:30pm</p>
		</div>
		
		</div>
	</div>
</div>

<% include partials/footer.ejs %>



	