:root {
	--white-color: #ffffff;
	--yellow-color: #FFBC6B;
	--black-color: #000000;
	--purple-color: #2A263D;
	--dark-purple-color: #201C2F;
	--default-font-size: 16px;
  }
  
  .main-header {
	color: var(--white-color, #ffffff);
	font-size: 30px !important;
  }
  
  .sanando-los-heridos-sub-header h1 {
	color: var(--yellow-color, #FFBC6B);
	font-size: 30px !important;

  }
  
  blockquote .corinthians-quote, blockquote span {
		display: none;
	}

  
  .tinted-image {
	background:
	  linear-gradient(rgba(42, 38, 61, 0.70),
	  rgba(42, 38, 61, 0.70)),
	  url("../images/clouds-cloudy-conifers-247478.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: top;
	min-height: 85vmax;
  }
  
  #about-btn {
	font-size: 14px;
	color: var(--white-color, #ffffff);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid var(--white-color, #ffffff);
	border-radius: 40px;
	background: transparent;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
  }
  
  #visit-btn {
	font-size: 14px;
	color: var(--white-color, #ffffff);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid var(--yellow-color, #FFBC6B);
	border-radius: 40px;
	background: var(--yellow-color, #FFBC6B);
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	}
	
	@media (min-width: 576px) { 
		.main-header {
			color: var(--white-color, #ffffff);
			font-size: 2rem !important;
			}
			
			.sanando-los-heridos-sub-header h1 {
			color: var(--yellow-color, #FFBC6B);
			font-size: 2rem !important;
		
			}
			.tinted-image {
				min-height: 80vmin;

			}
			
	 }

	@media (min-width: 768px) {
		.main-header {
			color: var(--white-color, #ffffff);
			font-size: 2.3rem !important;
			}
			
			.sanando-los-heridos-sub-header h1 {
			color: var(--yellow-color, #FFBC6B);
			font-size: 2.3rem !important;
		
			}

			.tinted-image {
				min-height: 85vmin;

			}
	}
	
	@media (min-width: 992px) {
		.main-header {
			color: var(--white-color, #ffffff);
			font-size: 3rem !important;
			}
			
			.sanando-los-heridos-sub-header h1 {
			color: var(--yellow-color, #FFBC6B);
			font-size: 3rem !important;
		
			}

			.tinted-image {
				min-height: 80vmin;

			}
	}
	
	@media (min-width: 1200px) {
		.main-header {
			color: var(--white-color, #ffffff);
			font-size: 3.3rem !important;
			}
			
			.sanando-los-heridos-sub-header h1 {
			color: var(--yellow-color, #FFBC6B);
			font-size: 3.3rem !important;
		
			}

			blockquote .corinthians-quote {
				display: block;
				color: var(--white-color, #ffffff);
				font-size: 1.125rem;
				}
				
				blockquote span {
					display: block;
				font-size: 1.125rem;
				}

				.tinted-image {
					min-height: 80vmin;
	
				}
	}